

@media screen and (min-width :412px) {
	h1 {
		font-size: 20px;
	}

	.cover {
		width: auto;
		height: auto;
	}

	.small {
		width: 45%;
		margin-left: 0px;
		margin-right: 0px;
		background-color: rgb(113, 144, 14);
	}
}

h1 {
	font-size: 10px;
}

.items {
	margin-top: 23px;
	margin-bottom: 23px;
}

.cover {
	width: 100%;
	height: 100%;
}
